# Ambiente de virtualenv / pipenv
.Pipfile
.Pipfile.lock
pipenv-setup/
*.env
*.env.*

# Arquivos de configuração do pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints/

# Arquivos temporários e de backup
*.swp
*.bak
*.tmp

# Diretórios de cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de log
*.log

# Diretórios específicos do sistema
.DS_Store  # macOS
Thumbs.db  # Windows
